.AddPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.AddPlayer__input {
    background-color: #d9eff8;
    font-size: 16px;
    padding: 10px
}
  
.AddPlayer__submit {
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #1b67b3;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}

.AddPlayer__submit:hover{
    border: 1px solid #003366;;
}